.particles-js-canvas-el {
    height: 100%;
    width: 100%;
}

.textlanding_name {
    display: inline;
    font-size: 35px;
    /* padding-left: 30px; */
}
.textlanding_lastname{
    display:inline; 
    font-size: 35px;
}

.textlanding img {
    width: 90px;
    display: inline;
    margin: 10px;

}
.textlanding .hr_bottom {
    width: 100px;
    border: 1px solid;
    text-align: center;
    align-items: center;
    display: inherit;
    margin: 30px auto;
}

.social-buttons .fa-github {
    color: #fff;
}

.arrowlanding {
    font-size: 80px;
    color: #69b3a2;
}