.particles-js-canvas-el {
    height: 100%;
    width: 100%;
}

.textlanding_name {
    display: inline;
    font-size: 35px;
    padding-left: 30px;
}

.textlanding img {
    width: 90px;
    display: inline;
    margin-right: 10px 20px;

}
.textlanding hr {
    width: 100px;
    height: 1px;
    border: none;
    color: #333;
    background-color: #333;
}

.social-buttons .fa-github {
    color: #fff;
}

.arrowlanding {
    font-size: 80px;
    color: #69b3a2;
}