section#testimonial .carousel-item img{
    border-radius: 50%
}
section#testimonial .testimonials-desc{
    color: grey; 
    font-size: 8;
}

section#testimonial .testimonials-desigination{
    font-size: 12px; display: inline;
}

section#testimonial {}

section#testimonial {}

section#testimonial {}

section#testimonial {}

section#testimonial {}
